body{
	background:			rgb(173,216,230);
	font-family:		微軟正黑體;
	user-select:		none;
	height:				98vh;
	width:				98vw;
}
ul{
	list-style-position:inside;
	text-align:			left;
}
table{
	width:				100%;
	padding:			5px solid rgb(248,248,255);
}
th{
	position:			sticky;
	top:				0;
}
.hide{
	display:			none;
}
.item-selected{
	border-style:		solid;
}
.function-area{
	display:			block;
	height:				60vh;
	width:				90vw;
	overflow:			auto;	
}
#function-menu{
	height:				auto;
	bottom:				0;
	position:			auto;
	background:			rgb(238,241,252);
}
#top-area{
	height:				8vh;
	width:				98vw;
	background:			rgb(240,255,240);
	display:			flex;
}
#top-area p{
	width:				5vw;
	margin-top:			auto;
	margin-bottom:		auto;
	margin-left:		2vw;
}
#bottom-area{
	height:				90vh;
	width:				98vw;
	margin:				auto;
	display:			flex;
}
#toolbar{
	width:				8vw;
	height:				90vh;
	background:			rgb(240,248,255);
}
#main-display{
	background:			rgb(255,250,240);
	width:				90vw;
}
/*
#announce{
	height:				60vh;
	width:				100%;
	overflow:			auto;
}*/
#announce th{
	background:			rgb(225,228,244);
}
#announce td{
	background:			rgb(226,241,253);
}
#anc-main{
	width:				100%;
}
.anc-id{
	width:				10vw;	
}
.anc-date{
	width:				10vw;
}
.anc-content{
	width:				40vw;
	max-width:			40vw;
	overflow-wrap:		break-word;
}
.anc-attatch{
	width:				40vw;
}
.anc-link{
	cursor:				pointer;
}
.anc-link:hover{
	border-style:		solid;
}

#member th{
	background:			rgb(245,245,220);
	height:				auto;
}

#member td{
	background:			rgb(240,255,255);
}
#member-title{	
	width:				95vw;
	font-size:			250%;
	text-align:			center;
}
.member-header-row{
	width:				6vw;
}
.member-header{
	
}
.member-occupation{
	margin:				0px;
}
/*
#manual{
	height:				60vh;
	width:				100%;
}*/
#mnl-main{
	width:				100%;	
}
#mnl-title{

	background:			rgb(113,164,218);
}
.mnl-affairs .mnl-header{
	background:			rgb(121,169,220);
}
.mnl-affairs{
	background:			rgb(137,180,225);
}
.mnl-finance .mnl-header{
	background:			rgb(162,195,231);
}
.mnl-finance{
	background:			rgb(186,211,237);
}
.mnl-document .mnl-header{
	background:			rgb(211,226,243);
}
.mnl-document{
	background:			rgb(235,242,249);
}
.dl-title{
	width:				100%;
	background:			rgb(255,235,205);
}
.dl-header{
	width:				auto;
	text-align:			center;
}
.dl-area{
	width:				80%;
	text-align:			center;
}
