body{
	background:			rgb(173,216,230);
	font-family:		微軟正黑體;
	user-select:		none;
}
#top-area{
	height:				10%;
	background:			rgb(240,255,240);
}
#bottom-area{
	height:				auto;
	margin:				auto;
	
}
#toolbar{
	width:				5%;
	height:				90%;
	background:			rgb(240,248,255);
}
#main-display{
	position:			absolute;
	left:				5.5%;
	top:				11%;
	background:			rgb(255,250,240);
	width:				95%;
	height:				100%;
}
table{
	width:				100%;
	padding:			5px solid rgb(248,248,255);
}
#member th{
	background:			rgb(245,245,220);
	height:				auto;
}

#member td{
	background:			rgb(240,255,255);
}
#announce th{
	background:			rgb(225,228,244);
}
#announce td{
	background:			rgb(226,241,253);
}
ul{
	list-style-position:inside;
	text-align:			left;
}
#member-title{	
	width:				100%;
	font-size:			250%;
	text-align:			center;
}
.member-occupation{
	margin:				0px;
}

.dl-title{
	width:				100%;
	background:			rgb(255,235,205);
}
.dl-header{
	width:				auto;
	text-align:			center;
}
.dl-area{
	width:				80%;
	text-align:			center;
}
.hide{
	display:			none;
}