<table id="announce" class="function-area">
	<tbody id="anc-main">
		<tr>
			<th colspan="4" id="anc-title">公告事項</th>
		</tr>
		<tr>
			<th class="anc-id">序號</th>
			<th class="anc-date">公告日期</th>
			<th class="anc-content">內容</th>
			<th class="anc-attatch">附件</th>
		</tr>			
		<tr class="anc-unit">
			<td class="edit-off anc-id">1</td>
			<td class="edit-off anc-date">2023/8/28</td>
			<td class="anc-content" style="background: rgb(226, 241, 253);">Announcement88</td>
			<td class="edit-off anc-anc-attatch" style="background: rgb(226, 241, 253);"><p id="announce/1/img20220615_0001.pdf" class="anc-link select-item">img20220615_0001.pdf</p><input class="edit-mode upload-btn hide" type="file">
					<br class="edit-mode hide"><input class="edit-mode upload-btn hide" type="file">
					
					<br class="edit-mode hide"><input class="edit-mode upload-btn hide" type="file">
					<p class="send-btn edit-mode hide">Upload</p></td>
		</tr></tbody>
</table>
<div id="function-menu" class="function-area">
	<p id="movetop-btn">To the Top</p>
	<p id="movebottom-btn">To the bottom</p>
	<p id="edit-btn" class="login-mode">Edit</p>
	<p id="unedit-btn" class="edit-mode hide">Cancel</p>
	<p id="new-btn" class="edit-mode hide">Publish Announcement</p>
	<p id="delete-btn" class="edit-mode hide">Delete Announcement</p>
	<p id="save-btn" class="edit-mode hide">Save</p>
</div>
		
