<table id="announce" class="function-area">
	<tbody id="anc-main">
		<tr>
			<th colspan="4" id="anc-title">公告事項</th>
		</tr>
		<tr>
			<th class="anc-id">序號</th>
			<th class="anc-date">公告日期</th>
			<th class="anc-content">內容</th>
			<th class="anc-attach">附件</th>
		</tr>			
																<tr class="anc-unit">
			<td class="edit-off">5</td>
			<td class="edit-off">2023/9/6</td>
			<td class="anc-content" style="">Announcement</td>
			<td class="edit-off" style=""><p id="announce/5/環保處函.RTF" class="dl-link select-item">環保處函.RTF</p>
					<br class="edit-mode hide"><input class="edit-mode upload-btn hide" type="file">
					<p class="send-btn edit-mode hide">Upload</p></td>
		</tr><tr class="anc-unit">
			<td class="edit-off">4</td>
			<td class="edit-off">2023/9/4</td>
			<td class="anc-content" style="">Announcement</td>
			<td class="edit-off" style=""><p id="test/announce/4/112.9.1-3花蓮3日遊.pdf" class="dl-link select-item">112.9.1-3花蓮3日遊.pdf</p>
					<br class="edit-mode hide"><input class="edit-mode upload-btn hide" type="file">
					<p class="send-btn edit-mode hide">Upload</p></td>
		</tr><tr class="anc-unit">
			<td class="edit-off">2</td>
			<td class="edit-off">2023/9/1</td>
			<td class="anc-content" style="">Announcement</td>
			<td class="edit-off" style=""><p id="test/announce/2/112.9.1-3花蓮3日遊.pdf" class="dl-link select-item">112.9.1-3花蓮3日遊.pdf</p>
					<br class="edit-mode hide"><input class="edit-mode upload-btn hide" type="file">
					<p class="send-btn edit-mode hide">Upload</p></td>
		</tr><tr class="anc-unit">
			<td class="edit-off anc-id">1</td>
			<td class="edit-off anc-date">2023/8/28</td>
			<td class="anc-content" style="">Announcement88</td>
			<td class="edit-off anc-anc-attach" style="">
					<br class="edit-mode hide"><input class="edit-mode upload-btn hide" type="file">
					<p class="send-btn edit-mode hide">Upload</p></td>
		</tr></tbody>
</table>
<div id="function-menu" class="function-area">
	<p id="movetop-btn">To the Top</p>
	<p id="movebottom-btn">To the bottom</p>
	<p id="edit-btn" class="login-mode hide">Edit</p>
	<p id="unedit-btn" class="edit-mode hide">Cancel</p>
	<p id="new-btn" class="edit-mode hide">Publish Announcement</p>
	<p id="delete-btn" class="edit-mode hide">Delete Announcement</p>
	<p id="save-btn" class="edit-mode hide">Save</p>
</div>
		
