<table id="announce" class="function-area">
	<tbody id="anc-main">
		<tr>
			<th colspan="3" id="anc-title" contenteditable="true">公告事項</th>
		</tr>
		<tr>
			<th contenteditable="true">公告日期</th>
			<th contenteditable="true">內容</th>
			<th contenteditable="true">附件</th>
		</tr>	
		<tr>
			<td contenteditable="true">Date Row</td>
			<td contenteditable="true">content Row</td>
			<td class="edit-off">Attactchment Row</td>
		</tr>		
			<tr>
			<td contenteditable="true">Date</td>
			<td contenteditable="true">Announcement</td>
			<td class="" style="background: rgb(226, 241, 253);">Attactchment:<input id="testupload" type="file"></td>
		</tr></tbody>
</table>
<div id="function-menu">
	<p id="edit-btn" class="login-mode">Edit</p>
	<p id="unedit-btn" class="edit-mode hide">Cancel</p>
	<p id="new-btn" class="edit-mode hide">Publish Announcement</p>
	<p id="save-btn" class="edit-mode hide">Save</p>
	<p id="send-btn" class="edit-mode hide">Send</p>
</div>
		
