<table id="announce" class="function-area">
	<tbody id="anc-main">
		<tr>
			<th colspan="3" id="anc-title">公告事項</th>
		</tr>
		<tr>
			<th>公告日期</th>
			<th>內容</th>
			<th>附件</th>
		</tr>	
		<tr>
			<td>Date Row</td>
			<td>content Row</td>
			<td class="edit-off">Attactchment Row</td>
		</tr>		
			<tr>
			<td>Date</td>
			<td>Announcement</td>
			<td class="" style="background: rgb(226, 241, 253);"><input class="edit-mode upload-btn hide" type="file">
					<br><input class="edit-mode upload-btn hide" type="file">
					<p class="send-btn">Upload</p></td>
		</tr></tbody>
</table>
<div id="function-menu">
	<p id="edit-btn" class="login-mode">Edit</p>
	<p id="unedit-btn" class="edit-mode hide">Cancel</p>
	<p id="new-btn" class="edit-mode hide">Publish Announcement</p>
	<p id="save-btn" class="edit-mode hide">Save</p>
</div>
		
