<table id="business" class="function-area">
	<tbody id="bus-main">
		<tr class="non-delete">
			<th colspan="3" id="bus-title" class="edit-off">主管職責</th>
		</tr>
		<tr id="bus-department" class="non-delete">
			<th id="bus-affairs" class="bus-header selected-department" style="">主管事務</th>	
			<th id="bus-finance" class="bus-header" style="">主管預算</th>
			<th id="bus-document" class="bus-header" style="">主管文書</th>
		</tr>
		<tr id="bus-text" class="non-delete bus-affairs-color">
			<th colspan="3">主管事務</th>
		</tr>
		<tr class="bus-affairs bus-member-head">
			<td rowspan="3" class="bus-member">陳旺志</td>
			<td colspan="2">資安聯絡人</td>
		</tr>
		<tr class="bus-affairs">
			<td colspan="2">網頁設計</td>
		</tr>
		<tr class="bus-affairs bus-new non-delete hide">
			<td colspan="2" class="bus-placeholder edit-off">新增項目</td>
		</tr>
		<tr class="bus-finance bus-member-head hide">
			<td rowspan="2" class="bus-member">余奕慶</td>
			<td colspan="2">課長</td>
		</tr>
		<tr class="bus-finance bus-new non-delete hide">
			<td colspan="2" class="bus-placeholder edit-off">新增項目</td>
		</tr>
		<tr class="bus-document bus-member-head hide">
			<td rowspan="2" class="bus-member">李梅君</td>
			<td colspan="2">課長</td>
		</tr>
		<tr class="bus-document bus-new non-delete hide">
			<td colspan="2" class="bus-placeholder edit-off">新增項目</td>
		</tr>
	</tbody>
</table>
<div id="function-menu" class="function-area">
	<p id="movetop-btn">To the Top</p>
	<p id="movebottom-btn">To the bottom</p>
	<p id="edit-btn" class="login-mode hide">Edit</p>
	<p id="unedit-btn" class="edit-mode hide">Cancel</p>
	<p id="new-btn" class="edit-mode hide">Add new member</p>
	<p id="delete-btn" class="edit-mode hide">Delete file</p>
	<p id="save-btn" class="edit-mode hide">Save</p>
</div>
		
