<table id="document" class="function-area">
	<thead>
	</thead>
	<tbody id="doc-main">
		<tr class="doc-row non-delete">
			<th class="doc-sort-header doc-id edit-off">編號</th>
			<th class="doc-sort-header doc-depart edit-off">部門</th>
			<th class="doc-sort-header doc-date edit-off">發文日期</th>
			<th class="doc-sort-header doc-num edit-off">文號</th>
			<th class="doc-sort-header doc-subject edit-off">主旨</th>
			<th class="doc-sort-header doc-send edit-off">陳核檔</th>
			<th class="doc-sort-header doc-raw edit-off">電子檔</th>
		</tr>
		<tr class="doc-row">
			<th class="doc-sort doc-id edit-off">1</th>
			<th class="doc-sort doc-depart edit-off"></th>
			<th class="doc-sort doc-date"></th>
			<th class="doc-sort doc-num"></th>
			<th class="doc-sort doc-subject"></th>
			<th class="doc-sort doc-send edit-off"><input class="edit-mode upload-btn hide" type="file"><p class="send-btn edit-mode hide">Upload</p></th>
			<th class="doc-sort doc-raw edit-off"><input class="edit-mode upload-btn hide" type="file"><p class="send-btn edit-mode hide">Upload</p></th>
		</tr>
	</tbody>
</table>
<div id="function-menu" class="function-area">
	<p id="doc-btn-move" class="mnl-affairs">To the Top of Affairs</p>
	<p id="doc-btn-move" class="mnl-finance">To the Top of Finance</p>
	<p id="doc-btn-move" class="mnl-document">To the Top of Document</p>
	<p id="edit-btn" class="login-mode hide">Edit</p>
	<p id="unedit-btn" class="edit-mode hide">Cancel</p>
	<p id="new-btn" class="edit-mode hide">Add new document</p>
	<p id="delete-btn" class="edit-mode hide">Delete document</p>
	<p id="save-btn" class="edit-mode hide">Save</p>
</div>
		
