<table id="document" class="function-area">
	<tbody id="doc-main">
		<tr>Test texts</tr>
	</tbody>
</table>
<div id="function-menu" class="function-area">
	<p id="doc-btn-move" class="mnl-affairs">To the Top of Affairs</p>
	<p id="doc-btn-move" class="mnl-finance">To the Top of Finance</p>
	<p id="doc-btn-move" class="mnl-document">To the Top of Document</p>
	<p id="edit-btn" class="login-mode hide">Edit</p>
	<p id="unedit-btn" class="edit-mode hide">Cancel</p>
	<p id="new-btn" class="edit-mode hide">Add new document</p>
	<p id="delete-btn" class="edit-mode hide">Delete document</p>
	<p id="save-btn" class="edit-mode hide">Save</p>
</div>
		
