<table id="document" class="function-area">
	<thead>
	</thead>
	<tbody id="doc-main">
		<tr class="doc-row non-delete">
			<th class="doc-sort-header doc-id edit-off">編號</th>
			<th class="doc-sort-header doc-depart edit-off">部門</th>
			<th class="doc-sort-header doc-date edit-off">發文日期</th>
			<th class="doc-sort-header doc-num edit-off">文號</th>
			<th class="doc-sort-header doc-subject edit-off">主旨</th>
			<th class="doc-sort-header doc-send edit-off">陳核檔</th>
			<th class="doc-sort-header doc-raw edit-off">電子檔</th>
		</tr>		<tr class="doc-row doc-buisness">
			<th class="doc-sort doc-id edit-off" style=""></th>
			<th class="doc-sort doc-depart edit-off select-off">
				<select class="doc-depart-menu">
					<option value="none">無分類</option>
					<option value="buisness" selected="true">事務課</option>
					<option value="document">文書課</option>
					<option value="budget">預算課</option>
				</select>
			</th>
			<th class="doc-sort doc-date" style=""></th>
			<th class="doc-sort doc-num"></th>
			<th class="doc-sort doc-subject"></th>
			<th class="doc-sort doc-send edit-off"><input class="edit-mode upload-btn hide" type="file" accept=".pdf"><p class="send-btn edit-mode hide">Upload</p></th>
			<th class="doc-sort doc-raw edit-off"><input class="edit-mode upload-btn hide" type="file" accept=".odt,.doc,.docx,.rtf"><p class="send-btn edit-mode hide">Upload</p></th>
		</tr>
		<tr class="doc-row doc-buisness">
			<th class="doc-sort doc-id edit-off">1</th>
			<th class="doc-sort doc-depart edit-off select-off">
				<select class="doc-depart-menu">
					<option value="none">無分類</option>
					<option value="buisness" selected="true">事務課</option>
					<option value="document">文書課</option>
					<option value="budget">預算課</option>
				</select>
			</th>
			<th class="doc-sort doc-date"></th>
			<th class="doc-sort doc-num"></th>
			<th class="doc-sort doc-subject"></th>
			<th class="doc-sort doc-send edit-off"><input class="edit-mode upload-btn hide" type="file" accept=".pdf"><p class="send-btn edit-mode hide">Upload</p></th>
			<th class="doc-sort doc-raw edit-off"><input class="edit-mode upload-btn hide" type="file" accept=".odt,.doc,.docx,.rtf"><p class="send-btn edit-mode hide">Upload</p></th>
		</tr>
	</tbody>
</table>
<div id="function-menu" class="function-area">
	<p id="edit-btn" class="login-mode hide">Edit</p>
	<p id="unedit-btn" class="edit-mode hide">Cancel</p>
	<p id="new-btn" class="edit-mode hide">Add new document</p>
	<p id="delete-btn" class="edit-mode hide">Delete document</p>
	<p id="save-btn" class="edit-mode hide">Save</p>
</div>
		
