<head>
	<link rel='stylesheet' type='text/css' href='/css/index.css'>
	<meta charset="utf-8">
	<title>總務組首頁</title>
</head>
<body>
	<div id='top-area'>
		<p id='login-btn'>Login</p>
		<p id='logout-btn' class='hide'>Logout</p>
	</div>
	<div id='bottom-area'>
		<div id='toolbar' class='function-area'>
			<p id='tb-announce' class='tb-option'>公告訊息</p>
			<p id='tb-member' class='tb-option'>組織成員</p>
			<!--<a id='tb-member' href='member.html'>組織成員</a>-->
			<p id='tb-manual' class='tb-option'>手冊規章</p>
			<p id='tb-business' class='tb-option'>主管職責</p>
			<p id='tb-sop' class='tb-option'>作業流程</p>
			<p id='tb-document' class='tb-option'>重要文件</p>
			<p id='tb-download' class='tb-option'>下載專區</p>
			<!--<a id='tb-download' href='download.html'>下載專區</a>-->
			<p id='tb-section' class='tb-option'>各課專區</p>
			<p id='tb-update' class='tb-option'>更新日誌</p>
			<p id='test' class='tb-option'>Test page</p>
			
		</div>
		<div id='main-display'></div>
	</div>	
</body>
<script src = '/js/index.js'></script>
<script src= '/js/ux.js'></script>
<script src='/js/announce.js'></script>
<script src = '/js/member.js'></script>
<script src = '/js/extension.js'></script>
