<table id="manual" class="function-area">
	<tbody id="mnl-main">
		<tr>
			<th colspan="3" id="mnl-title">手冊規章</th>
		</tr>
		<tr class='mnl-affairs'>
			<th colspan="3" class='mnl-header'>主管事務</th>	
		</tr>
		<tr class='mnl-affairs'>
			<th class="mnl-id">序號</th>
			<th class="mnl-name">名稱</th>
			<th class="mnl-file">更新日期</th>		
		</tr>
		<tr class='mnl-affairs'>
			<td class="mnl-id">id</td>
			<td class="mnl-name">name</td>
			<td class="mnl-file">download</td>		
		</tr>
		<tr class='mnl-finance'>
			<th colspan="3" class="mnl-header">主管預算</th>
		</tr>
		<tr class='mnl-finance'>
			<th class="mnl-id">序號</th>
			<th class="mnl-name">名稱</th>
			<th class="mnl-file">更新日期</th>
		</tr>
		<tr class='mnl-finance'>
			<td class="mnl-id">id</td>
			<td class="mnl-name">name</td>
			<td class="mnl-file">download</td>		
		</tr>
		<tr class='mnl-document'>
			<th colspan="3" class="mnl-header">主管文書</th>		
		</tr>
		<tr class='mnl-document'>
			<th class="mnl-id">序號</th>
			<th class="mnl-name">名稱</th>
			<th class="mnl-file">更新日期</th>			
		</tr>
		<tr class='mnl-document'>
			<td class="mnl-id">id</td>
			<td class="mnl-name">name</td>
			<td class="mnl-file">download</td>		
		</tr>
	</tbody>
</table>
<div id="function-menu" class="function-area">
	<p id="movetop-btn">To the Top</p>
	<p id="movebottom-btn">To the bottom</p>
	<p id="edit-btn" class="login-mode">Edit</p>
	<p id="unedit-btn" class="edit-mode hide">Cancel</p>
	<p id="new-btn" class="edit-mode hide">Add new file</p>
	<p id="delete-btn" class="edit-mode hide">Delete file</p>
	<p id="save-btn" class="edit-mode hide">Save</p>
</div>
		
