<table id="manual" class="function-area">
	<tbody id="mnl-main">
		<tr>
			<th colspan="3" id="mnl-title" class="edit-off">手冊規章</th>
		</tr>
		<tr id="mnl-affairs" class="mnl-affairs">
			<th colspan="3" class="mnl-header">主管事務</th>	
		</tr>
		<tr class="mnl-affairs mnl-title">
			<th class="mnl-id edit-off">序號</th>
			<th class="mnl-name edit-off">名稱</th>
			<th class="mnl-file edit-off">更新日期</th>		
		</tr>
		<tr class="mnl-affairs">
			<td class="mnl-id" style="">1</td>
			<td class="mnl-name">name</td>
			<td class="mnl-file edit-off" style=""><p id="manual/apple/id/112.9.1-3花蓮3日遊.pdf" class="dl-link select-item">112-9-13</p><input class="edit-mode upload-btn hide" type="file"><p class="send-btn edit-mode hide">Upload</p></td>		
		</tr>
		<tr id="mnl-finance" class="mnl-finance">
			<th colspan="3" class="mnl-header">主管預算</th>
		</tr>
		<tr class="mnl-finance mnl-title">
			<th class="mnl-id edit-off">序號</th>
			<th class="mnl-name edit-off">名稱</th>
			<th class="mnl-file edit-off">更新日期</th>
		</tr>
		<tr class="mnl-finance">
			<td class="mnl-id" style="">1</td>
			<td class="mnl-name">name</td>
			<td class="mnl-file edit-off"><input class="edit-mode upload-btn hide" type="file"><p class="send-btn edit-mode hide">Upload</p></td>		
		</tr>
		<tr id="mnl-document" class="mnl-document">
			<th colspan="3" class="mnl-header">主管文書</th>		
		</tr>
		<tr class="mnl-document mnl-title">
			<th class="mnl-id edit-off">序號</th>
			<th class="mnl-name edit-off">名稱</th>
			<th class="mnl-file edit-off">更新日期</th>			
		</tr>
		<tr class="mnl-document">
			<td class="mnl-id" style="">1</td>
			<td class="mnl-name">name</td>
			<td class="mnl-file edit-off"><input class="edit-mode upload-btn hide" type="file"><p class="send-btn edit-mode hide">Upload</p></td>		
		</tr>
	</tbody>
</table>
<div id="function-menu" class="function-area">
	<p id="movetop-btn">To the Top</p>
	<p id="movebottom-btn">To the bottom</p>
	<p id="edit-btn" class="login-mode hide">Edit</p>
	<p id="unedit-btn" class="edit-mode hide">Cancel</p>
	<p id="new-btn" class="edit-mode hide">Add new file</p>
	<p id="delete-btn" class="edit-mode hide">Delete file</p>
	<p id="save-btn" class="edit-mode hide">Save</p>
</div>
		
