<head>
	<link rel='stylesheet' type='text/css' href='./css/index.css'>
	<meta charset="utf-8">
	<title>總務組首頁</title>
</head>
<body>
	<div id='top-area'>Top bar</div>
	<div id='bottom-area'>
		<div id='toolbar'>
			<p id='tb-message'>公告訊息</p>
			<a id='tb-member' href='member.html'>組織成員</a>
			<p id='tb-manual'>手冊規章</p>
			<p id='tb-business'>主管職責</p>
			<p id='tb-sop'>作業流程</p>
			<p id='tb-document'>重要文件</p>
			<a id='tb-download' href='download.html'>下載專區</a>
			<p id='tb-section'>各課專區</p>
			<p id='tb-update'>更新日誌</p>
		</div>
		<div id='main-display'>
			<table>
				<thead></thead>
				<tbody>
					<tr>
						<th colspan='5' id='member-title'>組織成員</th>
					</tr>
					<tr>
						<th class='member-header-row'></th>
						<th class='member-header'>總務組長</th>
						<th class='member-header'>主管文書</th>
						<th class='member-header'>主管預算</th>
						<th class='member-header'>主管事務</th>	
					</tr>	
					<tr>
						<th class='member-header-row'>成員姓名</th>
						<td class='member-name'>
							<p class='member-leader'>魏小娟</p>
							<p class='member-occupation'>組長</p>
						</td>
						<td class='member-name'>	
							<p class='member-leader'>李梅君</p>
							<p class='member-occupation'>課長</p>
							郭瑞珍<br>
							李佳玲<br>
							林秀<br>
						</td>
						<td class='member-name'>	
							<p class='member-leader'>余奕慶</p>
							<p class='member-occupation'>課長</p>
							詹雯珺<br>
							蔡文瑜<br>
							張庭瑜<br>
						</td>
						<td class='member-name'>	
							<p class='member-leader'>陳幸美</p>
							<p class='member-occupation'>課長</p>
							許淑華<br>
							覺惠靖<br>
							羅苡瑄<br>
							江紹謙<br>
							陳旺志<br>
						</td>
					</tr>
					<tr>
						<th class='member-header-row'>市內電話</th>
						<td>
							<p class='member-phone-one'>(02)2366-6662</p>
						</td>
						<td>
							<p class='member-phone-one'>
								(02)2366-6665<br>
							</p>
						</td>
						<td>
							<p class='member-phone-one'>
								(02)2366-6658<br>
								(02)2366-6663<br>
							</p>
						</td>
						<td>
							<p class='member-phone-one'>
								(02)2366-6666<br>
								(02)2366-6667<br>
							</p>
						</td>
					</tr>		
					<tr>
						<th class='member-header-row'>微波電話</th>
						<td>
							<p class='member-phone-two'>92-23030</p>
						</td>
						<td>
							<p class='member-phone-two'>92-23031</p>
						</td>
						<td>
							<p class='member-phone-two'>
								92-22367<br>
								92-23356<br>
							</p>
						</td>
						<td>
							<p class='member-phone-two'>
								92-22850<br>
								92-22366<br>
								92-23322<br>
							</p>
						</td>
					</tr>
					<tr>
						<th class='member-header-row'>傳真號碼</th>
						<td colspan='4'>
							<p class='member-tax'>(02)2368-5817</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
</body>

