<table id="member" class="function-area">
	<tbody id="member-main">
		<tr class="non-delete">
			<th colspan="5" id="member-title">組織成員</th>
		</tr>
		<tr class="non-delete">
			<th class="member-header-row"></th>
			<th class="member-header">總務組長</th>
			<th class="member-header">主管文書</th>
			<th class="member-header">主管預算</th>
			<th class="member-header">主管事務</th>	
		</tr>	
		<tr>
			<th class="member-header-row">成員姓名</th>
			<td class="member-name" style="">
				<p class="member-leader">魏小娟組長</p>
			</td>
			<td class="member-name" style="">	
				<p class="member-leader">李梅君課長</p>
				<p>李佳玲</p>
				<p>林秀</p><p>陳薪雅</p>		
			</td>
			<td class="member-name" style="">	
				<p class="member-leader">余奕慶課長</p>
				<p>蔡文瑜</p><p>陳水福</p>
			</td>
			<td class="member-name" style="">	
				<p class="member-leader">陳幸美課長</p>
				<p>許淑華</p>
				<p>覺惠靖</p>
				<p>羅苡瑄</p>
				<p>江紹謙</p>
				<p>陳旺志</p><p><span style="background-color: rgb(240, 255, 255);">詹雯珺</span></p><p><span style="background-color: rgb(240, 255, 255);">郭瑞珍</span></p>
			</td>
		</tr>
		<tr>
			<th class="member-header-row">市內電話</th>
			<td>
				<p>(02)2366-6662</p>
			</td>
			<td>
				<p>(02)2366-6665</p>
			</td>
			<td class="" style="">
				<p>(02)2366-6658</p>
				<p>(02)2366-6663</p>
			</td>
			<td>
				<p>(02)2366-6666</p>
				<p>(02)2366-6667</p>
			</td>
		</tr>		
		<tr>
			<th class="member-header-row">微波電話</th>
			<td>
				<p>92-23030</p>
			</td>
			<td>
				<p>92-23031</p>
			</td>
			<td>
				<p>92-22367</p>
				<p>92-23356</p>
			</td>
			<td>
				<p>92-22850</p>
				<p>92-22366</p>
				<p>92-23322</p>
			</td>
		</tr>
		<tr>
			<th class="member-header-row">傳真號碼</th>
			<td colspan="4">
				<p class="member-tax">(02)2368-5817</p>
			</td>
		</tr>

	</tbody>
</table>
<div id="function-menu">
	<p id="edit-btn" class="login-mode hide">Edit</p>
	<p id="unedit-btn" class="edit-mode hide">Cancel</p>
	<p id="append-btn" class="edit-mode hide">Row append button</p>
	<p id="delete-btn" class="edit-mode hide">Delete selected row</p>
	<p id="save-btn" class="edit-mode hide">Save</p>
</div>

		
