<table id="sop" class="function-area">
	<tbody id="sop-main">
		<tr>
			<td>
				<table>
					<tbody>
						<tr>
							<td>100</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td>
				<table>
					<tbody>
						<tr>
							<td>200</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<div id="function-menu" class="function-area">
	<p id="movetop-btn">To the Top</p>
	<p id="movebottom-btn">To the bottom</p>
	<p id="edit-btn" class="login-mode hide">Edit</p>
	<p id="unedit-btn" class="edit-mode hide">Cancel</p>
	<p id="new-btn" class="edit-mode hide">Add new member</p>
	<p id="delete-btn" class="edit-mode hide">Delete file</p>
	<p id="save-btn" class="edit-mode hide">Save</p>
</div>
		
