<table id="sop" class="function-area">
	<tbody id="sop-main">
		<tr>
			<td id='sop-sort-display' class='select-off edit-off'>       顯示設定:   <select id='sop-sort-menu' class='select-off edit-off'>
					<option value='all'>全部</option>					
					<option value='buisness'>事務課</option>					
					<option value='budget'>預算課</option>	
					<option value='document'>文書課</option>
					<option value='none'>無分類</option></select>  <button id='sop-sort-btn'>重新整理</button></td>
		</tr>
		<tr class="sop-form-init">
			<td class="edit-off select-off">
				<table class="sop-form sop-document">
					<thead id="sop-1">
						<tr>
							<th colspan="4" class="sop-form-header" style="">派車方法</th>															
						</tr>						
					</thead>
					<tbody class="sop-1"></tbody>
				</table>
			</td>
		</tr>
		
	</tbody>
</table>

<table id="sop-form-function-menu" class="edit-mode hide">
	<tbody>
		<tr>
			<td class="sop-btn sop-btn-newstep edit-off" style="">插入新步驟</td>
			<td class="sop-btn sop-btn-newchapter edit-off" style="">插入新章節</td>
			<td class="sop-btn sop-btn-newnote edit-off">插入新註解</td>
			<td class="sop-btn-warn sop-btn-delete edit-off" style="">刪除一列</td>
		</tr>
	</tbody>
</table>
<div id="function-menu" class="function-area">
	<p id="movetop-btn">To the Top</p>
	<p id="movebottom-btn">To the bottom</p>
	<p id="movebookshelf-btn">To the Catalogue</p>
	<p id="edit-btn" class="login-mode hide">Edit</p>
	<p id="unedit-btn" class="edit-mode hide">Cancel</p>
	<p id="new-btn" class="edit-mode hide">Add new SOP</p>
	<p id="sop-btn-deleteform" class="edit-mode hide">Delete SOP</p>
	<p id="save-btn" class="edit-mode hide">Save</p>
</div>
		
